# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment / Python
.env
.venv/
env/
venv/
mlops_env/

# Logs
*.log

# Spark-related
metastore_db/
derby.log

# DVC - Data and model files (actual files ignored, metadata is tracked)

# Ignore actual data files, but keep DVC metadata
data/raw/**
!data/raw/**/*.dvc

data/processed/**
!data/processed/**/*.dvc

data/baseline_stats/**
!data/baseline_stats/**/*.dvc

# Ignore all files in models/ except DVC metadata
models/*
!models/**/*.dvc


# DVC cache
.dvc/cache/
.dvc/tmp/

# MLflow
mlruns/
mlartifacts/

# OS / Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Docker (if used)
*.pid
*.tar
*.img
*.container
.dockerignore

# Virtual machine files
*.vdi
*.vbox
*.vbox-prev

# Temporary files
*.bak
*.swp
*~
