# Environment / Python
mlops_env/

# Logs
*.log

# Spark-related
metastore_db/
derby.log

# DVC - Data and model files (actual files ignored, metadata is tracked)

# Ignore raw and processed data files
data/raw/**
!**/*.dvc

data/processed/**
data/baseline_stats/**

report/
notebooks/
app/**

# Ignore all files in models
models/**

# Allow all DVC pointer files anywhere
!**/*.dvc

# DVC cache
.dvc/cache/
.dvc/tmp/

# MLflow
mlruns/
mlartifacts/

